<!DOCTYPE html>
<html lang='en' dir='ltr'>
	<head>
		<meta charset='utf-8'>
		<link rel='icon' href='/images/weather.png'>
		<link rel='stylesheet' href='/css/style.css'>
		<title>About</title>
	</head>
	<body>
		<div class='main-content'>
			{{>header}}
			<img src='{{imgSrc}}' alt='{{altText}}' class='portrait'/>
		</div>
		{{>footer}}
	</body>
</html>
